<%- layout("layouts/boilerplate") %>

<h1>Welcome to Sprawlopolis Scoresheet!</h1>
<h3>Login or sign up</h3>

<form action="/login", method="GET">
    <button>Login</button>
</form>

<br>

<form action="/register", method="GET">
    <button>Register</button>
</form>
