<%- layout("layouts/boilerplate") %>
<h1>Login to Sprawlopolis Scoresheet</h1>

<form action="/" method="POST">
    <label for="username">Username:</label>
    <input id="username" name="username" type="text">
    <label for="password">Password:</label>
    <input id="password" name="password" type="text">
    <button>Submit</button>
</form>
