<%- layout("./layouts/boilerplate") %>

<h1>New Game</h1>

<form action="/games/new", method="POST">
    <div>
        <label for="score">Enter final score</label>
        <input name="score" id="score" type="number">
        <div></div>
    </div>
    <button>Enter New Score</button>
</form>




