<%- layout("./layouts/boilerplate") %>

<h1>Edit Game</h1>

<h5>Current Score: <%= game.score %></h5>
<form action="/games/<%= game.id %>?_method=PUT" method="POST">
    <section>
        <label for="score">Change Game Results</label>
        <input type="number" name="game[score]" id="score" value="<%= game.score %>">
    </section>
    <button>Submit</button>
</form>

