        <footer>
            <div>
                <div>
                    <h3><a href="#">Sprawlopolis Score Sheet</a></h3>
            
                    <h6>Get connected</h6>
                    <div>
                        <a href="#"><span class="fa-lg fab fa-twitter"></span></a>
                        <a href="#"><span class="fa-lg fab fa-facebook-f"></span></a>
                        <a href="#"><span class="fa-lg fab fa-instagram"></span></a>
                        <a href="#"><span class="fa-lg fas fa-envelope"></span></a>
                    </div>
                </div>
            </div>
            <div>
                <p>Copyright &copy; Doug Heinan 2023 - <%= new Date().getFullYear() %></p>
                <p>Site design and build by Doug Heinan</p>
            </div>
        </footer>
    </body>
    <script type="module" src="app.js"></script>
</html>