{% extends "layout.html" %}

{% block content %}

<h1>HELLO!</h1>

<button id="newGame">New Game</button>

<button id="testBtn">TEST</button>

<div id="newGameCardListDiv">
    <ul class="hidden" id="newGameCardList"></ul>

</div>

<div id="tableDiv" class="hidden">
    <table id="scoreDisplay">
        <tr>
            <th>Zones</th>
            <th>Count</th>
        </tr>
        <tr>
            <td>Residential</td>
            <td><div contenteditable></div></td>
        </tr>
        <tr>
            <td>Commercial</td>
            <td><div contenteditable></div></td>
        </tr>
        <tr>
            <td>Industrial</td>
            <td><div contenteditable></div></td>
        </tr>
        <tr>
            <td>Parks</td>
            <td><div contenteditable></div></td>
        </tr>
        <tr>
            <th>Score Card One</th>
        </tr>
        <tr>
            <th id="scoreCardOneHeader"></th>
            <th id="scoreCardOneFirstCat"></th>
            <th id="scoreCardOneSecondCat"></th>
            <th id="scoreCardOneTotal"></th>
        </tr>
        <tr>
            <td class="noBorder"></td>
            <td>
                <div contenteditable id="scoreCardOneDataOne"></div>
            </td>
            <td>
                <div contenteditable id="scoreCardOneDataTwo"></div>
            </td>
        </tr>
        <tr>
            <th>Score Card Two</th>
        </tr>
        <tr>
            <th id="scoreCardTwoHeader"></th>
            <th id="scoreCardTwoFirstCat"></th>
            <th id="scoreCardTwoSecondCat"></th>
            <th id="scoreCardTwoTotal"></th>
        </tr>
        <tr>
            <td class="noBorder"></td>
            <td>
                <div contenteditable id="scoreCardTwoDataOne"></div>
            </td>
            <td>
                <div contenteditable id="scoreCardTwoDataTwo"></div>
            </td>
        </tr>
        <tr>
            <th>Score Card Three</th>
        </tr>
        <tr>
            <th id="scoreCardThreeHeader"></th>
            <th id="scoreCardThreeFirstCat"></th>
            <th id="scoreCardThreeSecondCat"></th>
            <th id="scoreCardThreeTotal"></th>
        </tr>
        <tr>
            <td class="noBorder"></td>
            <td>
                <div contenteditable id="scoreCardThreeDataOne"></div>
            </td>
            <td>
                <div contenteditable id="scoreCardThreeDataTwo"></div>
            </td>
        </tr>
    </table>
</div>

<!--<table>-->
<!--    <tbody id="scoreSheet">-->

<!--    </tbody>-->
<!--</table>-->

{% endblock %}