

ul {
    list-style-type: none;
}

.hidden {
    display: none;
}

th, td {
    border: solid;
}

td {
    text-align: center;
}

.noBorder {
    border: none;
}

.inputError {
    font-size: 10px;
    color: red;
}